langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
Flask
torch
torchvision
pillow
numpy
opencv-python
pytesseract
scikit-learn
FastAPI
uvicorn
starlette
gtts
google.cloud
python-multipart
xgboost
lifelines
tensorflow
keras-tcn
firebase-admin